.container {
  text-align: center;
  margin-top: 50px;
}

body{
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

h1{
  color: red;
  font-size: 35px;
}
table {
  border-collapse: collapse;
  margin: 20px auto;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
}